* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato';
}

.center {
    padding: 0 calc(50% - 570px);
}


.header {
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left,
.header__right,
.header__form {
    display: flex;
    align-items: center;

}

.header__form {
    height: 38px;
    width: 317px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 0px 3px 3px 0px;

}

.form-control {
    margin-top: 25px;

}

.text__search {
    height: 14px;
    width: 14px;
    margin-top: 37px;
}

.btn_browse {
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 0px 3px 3px 0px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: right;
    letter-spacing: 0.03em;
    margin-top: 25px;
}

.btn_myaccount {
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    text-align: right;
    letter-spacing: 0.03em;
    height: 38px;
    width: 130px;
    height: 38px;
    width: 130px;
    background-color: rgba(241, 109, 127, 1);
}

.form-control {
    height: 38px;
    width: 317px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 0px 3px 3px 0px;
}

.form-control {
    font-size: 14px;
    font-weight: 300;
    color: rgba(164, 164, 164, 1);
    letter-spacing: 0.03em;
    line-height: 32px;
}

.browse__menu {
    font-size: 14px;
    color: rgba(131, 131, 131, 1);
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 32px;
}

.header__cart {
    margin-right: 26px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 37px;
    text-decoration: none;
}

.logo__img {
    margin-right: 13px;
}

.brand__bran {
    font-size: 26px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
}

.brand_d {
    font-size: 26px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
}

.header__left .browse {
    font-size: 14px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 32px;
    height: 38px;
    width: 87px;
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 3px 0px 0px 3px;
    background-image: -webkit-linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background-image: -o-linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background-image: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(245, 245, 245, 1) 100%);
}


.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu__link {
    padding: 20px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    line-height: 26px;
    text-transform: uppercase;
}

.promo {
    height: 614px;
    background-color: #e8e8e8;
    background-image: url(img/promo-back.png);
    background-position: center -51px;
    background-repeat: no-repeat;
}

.promo__content {
    margin-top: 224px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.promo__h1 {
    font-size: 60px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.03em;
    line-height: 45px;
    margin-bottom: 12px;
}

.promo__h2 .lux {
    font-size: 40px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.03em;
    line-height: 33px;
}

.promo__h2 .fash {
    font-size: 40px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    text-align: right;
    letter-spacing: 0.03em;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
